<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmdapp.finaltailor">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Order.Show_Payment_of_order" />
        <activity android:name=".Activity.Customer.Show_Model_Activity" />
        <activity android:name=".Activity.Customer.Regester_Customer" />
        <activity android:name=".Activity.Report_Dashbord.EveryRemainderActivity" />
        <activity android:name=".Activity.Report_Dashbord.RemainderActivity" />
        <activity android:name=".Activity.Report_Dashbord.DisplayReportActivity" />
        <activity android:name=".Activity.Report_Dashbord.ReportActivity" />
        <activity
            android:name=".Activity.Report_Dashbord.DashboradReportActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.Order.show_Order_Info"
            android:parentActivityName=".Activity.Order.Tasks_Activity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Activity_No_Permesion_use">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Customer.Person_Activity" />
        <activity android:name=".Activity.Customer.Profile_Activity" />
        <activity android:name=".Activity.Customer.Regester_cloth_Activity" />
        <activity android:name=".Activity.Order.Tasks_Activity" />
        <activity android:name=".Activity.AboutCompanyImage" />
    </application>

</manifest>